body { 
      font-size: 16px;
      color: navy;
      font-family: Arial, Helvetica;
      height: 80;
      width: 80%;
      text-align: center;
      background-image: url('paper-3224651_960_720.jpg');
      background-position: center top;
      background-size: cover;
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 5px;
}

#heading {
      text-align: left;
      border-style: solid;
      border-width: 5px;
      
}
#container {
      width: 800px;
      margin: 40px auto 60px;
}
#pic {
    float: right;
    border: 20px;
    padding: 20px;  
    border-radius: 10px;
}
.date {
      float: right;
      margin-right: 30px;
      
}
.job {
      float: left;
      margin-left: 30px;
      border: 2px;
      border-color: #ffffff;
     
}
.words {
      font-size: 12px;
      text-align: left;
      
}
h1 {
      font-size: 36px;
}
h3 {
      font-size: 18px;
}
