body { 
      font-size: 16px;
      color: MediumBlue;
      font-family: "Arial", "Helvetica";
      height: 80;
      width: 80%;
      text-align: center;
      background-image: url('color-design-flora-1166644.jpg');
      background-position: center top;
      background-size: cover;
}
.pic {
    float: right;
    border: 2px;
    padding: 2px;  
}
.date {
      float: right;
      
}
.job {
      float: left;
     
}
.words {
      font-size: 12px; 
}
h1 {
      font-size: 36px;
}
h3 {
      font-size: 24px;
}
