body { 
      font-size: 16px;
      font-color: #00FFAA;
      font-family: 'georgia', 'helvetica';
      width:800px;
      text-align: center;
      background-image: url('color-design-flora-1166644.jpg');
      background-position: center top;
      background-size: cover;
}
 .container {
      text-align: center;
}
.date {
      float: right;
}
.job {
      float: left;
}
